# Logs y archivos temporales
*.log
*.tmp
*.cache

# Archivos del sistema operativo
.DS_Store          # macOS
Thumbs.db          # Windows

# Archivos de IDEs / editores
.idea/             # PhpStorm / IntelliJ
.vscode/           # Visual Studio Code
*.swp              # Vim

# Archivos de respaldo o antiguos
*.bak
*.old
*.orig

